/*
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }*/
  
  .heading1{
    text-align: center;
    font-family:fantasy;
    text-decoration: underline;
    margin-top: 30;
    font-style: oblique;
  }
  .todo_body{
    display: flex;
    height: 100vh;
    width: 100%;
    background: #000000;
    background-image: url('https://source.unsplash.com/1600x900/?pattern');
    background-repeat: repeat;

    background-size: cover;
    background-position: bottom;
    transition: 0.4 ease;


    font-size: 120%;
    font-weight: 600;
    color: white;
    padding: 2em;
    
    
    margin: 1em;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
  }
  .container0{
    background: black;
    opacity: 0.8;
    width: 60%;
    max-height: max-content;
    min-width: 450px;
    position: absolute;
    margin-top: 20px;
    transform: translate(-50%,-50%);
    top: 35%;
    left: 50%;
    border-radius: 10px;
    padding-top: 2%;
  }
  
  .container1{
    color: #000000;
    background: whitesmoke;
    margin-top: 25;
    opacity: 1.0;
    width: 60%;
    min-width: 450px;
    position: relative;
    transform: translate(-50%,-50%);
    top: 30%;
    left: 50%;
    border-radius: 10px;
  }
  
  .container2{
      color: black;
      background-color: #c5e1e6;
      opacity: 5.0;
      height: 70px;
      padding: 10px 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-bottom: 60px;
      display: flex;
      border-radius: 5px;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #939697;
      cursor: pointer;
  }
  
  
  
  #newtask_1{
    position: relative;
    padding: 30px 20px;
  }
  #newtask_1 input{
    width: 75%;
    height: 45px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d42b;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
  }
  #newtask_1 input:focus{
    outline: none;
    border-color: #0d75ec;
  }
  
  #newtask_1 button{
    position: relative;
    float: right;
    width: 20%;
    height: 45px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
  }

  .taskname{
    margin-top: 50px;
    margin-bottom: 400;
    padding-top: 50px;
  }


  #tasks1{
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 20px;
    border-radius: 10px;
    width: 95%;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    position:absolute;
  }
  
  .tasks1 button{
    position: absolute;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0a2ea4;
    color: #ffffff;
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
  }
  
  .todo-text input {
    padding: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
  }
  .todo-text {
    font-size: 24px;
    font-family: fantasy;
    line-height: 24px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }
  .todo-actions {
    display: flex;
    justify-content: space-between;
  }
  .todo-text input {
    padding: 4px;
  }
  
  input[type='text'] { 
    font-size: 20px; 
    font-family:'Times New Roman'; 
    font-style: italic;
    font-weight: 600;
  }
  
  .todo-text {
    display: flex;
    line-height: 24px;
    margin-bottom: 16px;
    align-items: center;
  }

  #delete{
    padding-left: 50;
    padding-top: 40;
    font-size: 20px; 
    font-family:'Times New Roman'; 
    font-style: italic;
    font-weight: 600;
  }
  
  #push {
    align-items: center;
    font-size: 15px;
    background-color: rgb(217, 60, 35);
    color: #fff;
    border-radius: 8px;
    margin-top: 10;
    margin-bottom: 10;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  #push:hover {
    background-color: rgb(173, 47, 28);
  }
  #push:active {
    background-color: rgb(130,35,21);
  }
  #push:focus {
    outline: 0;
  }
  
  
  